@font-face {
    font-family: 'baar_sophia';
    src: url('fonts/baars__-webfont.woff2') format('woff2'),
         url('fonts/baars__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'abel';
    src: url('fonts/abel-regular-webfont.woff2') format('woff2'),
         url('fonts/abel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}